[Desktop Entry]
Encoding=UTF-8 
Version=0.0.951
Type=Application 
Exec=/home/user/.local/lib/OpenUtau/OpenUtau
Name=OpenUtau 
Icon=openutau
Categories=AudioVideo;Audio;Midi;Multimedia;
