[Desktop Entry]
Encoding=UTF-8 
Version=idfk
Type=Application 
Exec=/home/emu/.local/lib/OpenUtau/OpenUtau
Name=OpenUtau 
Icon=openutau
Categories=AudioVideo;Audio;Midi;Multimedia;
